@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.App {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}


/*CLOCK*/
.clock{
  margin-top: -20px;
  margin-left: 20px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: radial-gradient(circle, rgb(20, 4, 0) 0%, rgb(87, 59, 35) 11%, rgb(223, 150, 91) 38%);*/
  background: radial-gradient(circle, rgb(223, 150, 91) 0%, rgb(87, 59, 35) 11%, rgb(88, 18, 0) 38%);
  background-size: cover;
  border-radius: 50%;
  z-index: 4;
}
.clockback{
  margin-left: 2%;
  width: 150px;
  height: 150px;
  z-index: 5;
}
.clock:before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 20;
}

.clock .hour,
.clock .min,
.clock .sec{
  position: absolute;
}

.clock .hour, .hr{
  width: 80px;
  height: 80px;
}
.clock .min, .mn{
  width: 85px;
  height: 85px;
}
.clock .sec, .sc{
  width: 115px;
  height: 115px;
}

.hr, .mn, .sc{
  z-index: 3;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: #ff8800;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before{
  content: '';
  position: absolute;
  width: 3px;
  height: 45px;
  background-color: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before{
  content: '';
  position: absolute;
  width: 2px;
  height: 75px;
  background-color: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
/*/CLOCK*/